@inject MudTheme _theme

<MudPaper Class="pa-0 ma-0 mt-n4 pt-4" Height="508px">
<h3>Contador</h3>

<p>CRUD</p>

<p>Pré-cadastrados: Requerimento, Desenho, Desenvolvimento, Teste, Documentação, Implantação
    Aguardando, Aprendendo, AjudandoOutros, TrabalhoParalelo, Natureza, Outros
</p>

<p>
<MudIconButton Icon="@Icons.Material.Filled.ContentPasteSearch" Title="Requerimento"/>
<MudIconButton Icon="@Icons.Material.Filled.DesignServices" Title="Desenho" />
<MudIconButton Icon="@Icons.Material.Filled.Code" Title="Desenvolvimento" />
<MudIconButton Icon="@Icons.Material.Filled.Ballot" Title="Teste" />
<MudIconButton Icon="@Icons.Material.Filled.AutoStories" Title="Documentacao" />
<MudIconButton Icon="@Icons.Material.Filled.Commit" Title="Implantação" />
</p>
<p>
<MudIconButton Icon="@Icons.Material.Filled.AccessTimeFilled" Title="Aguardando" />
<MudIconButton Icon="@Icons.Material.Filled.School" Title="Aprendendo" />
<MudIconButton Icon="@Icons.Material.Filled.EscalatorWarning" Title="Ajudando outros" />
<MudIconButton Icon="@Icons.Material.Filled.AutoAwesomeMotion" Title="Trabalho Paralelo" />
<MudIconButton Icon="@Icons.Material.Filled.Dining" Title="Natureza" />
<MudIconButton Icon="@Icons.Material.Filled.AllInclusive" Title="Outros" />
</p>

</MudPaper>
@code {

}
